<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well tokentoolong">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: {{data.content.local.id}}<br>
                        <strong>email</strong>: {{data.content.local.email}}<br>
                        <strong>password</strong>: {{data.content.local.password}}
                    </p>
            </div>
        </div>  
         <div class="col-sm-6">
            <div class="well tokentoolong">  
                     <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                    <p>
                        <strong>id</strong>: {{data.content.google.id}}<br>
                        <strong>token</strong>: {{data.content.google.token}}<br>
                        <strong>email</strong>: {{data.content.google.email}}<br>
                        <strong>name</strong>: {{data.content.google.name}}
                    </p>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well tokentoolong">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                    <p>
                        <strong>id</strong>: {{data.content.facebook.id}}<br>
                        <strong>token</strong>: {{data.content.facebook.token}}<br>
                        <strong>email</strong>: {{data.content.facebook.email}}<br>
                        <strong>name</strong>: {{data.content.facebook.name}}
                    </p>

            </div>
        </div>

        <div class="text-center">
            <a class="btn fbknopje" href="/game">View games</a>  
        </div>

    </div>

</div>